body {
    background-image: url('../assignment/record.png');
    background-repeat: repeat;
    margin: 0;
}

.topName {
    background-color: rgb(72, 8, 132);
    color: lightblue;
    text-align: center;
}

.bottomOutput {
    background-color: lightgrey;
    padding: 1em;
}